

.colors {
  display: inline-flex;
}

.easel {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  display: block;
}

.easel__canvas {
  max-height: 750px;
  width: 85%;
  display: block;

  position: absolute;
  top: 45%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

.gifNav {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

.gifNav__button {
  height: 30px;
  width: 30px;
  border-color: white;
  border-width: 2px;
  border-style: outset;
  border-radius: 100%;
  margin: 20px 0 20px 0;
}

.gifNav__button:hover {
  border-style: inset;
  cursor: pointer;
}

.palette {
  height: 100vh;
  width: 100vw;
  display: flex;
}

.sideBar {
  height: 100%;
  width: 15%;
  background-color: #eeeeee;
  position: relative;
}

.titleCard {}

.titleCard__background {
  height: 100vh;
  width: 100vw;
  display: table-cell;
  position: absolute;
  top: 0;

  background-image: linear-gradient(rgb(54,22,58), rgb(92,46,76));
  vertical-align: middle;
  padding-left: 50px;
  z-index: 100;

  -webkit-transition: top ease-in-out 1.5s; /* Safari */
  transition: top ease-in-out 1.5s;
}

.titleCard__subtitle {
  color: white;
  font-size: 1.5em;
  position: relative;
}

.titleCard__title {
  color: white;
  font-size: 3em;
  position: relative;
  margin-top: 50%;
}
