/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  box-shadow: inset 0 0 2px grey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(54,22,58), rgb(92,46,76));
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(rgba(54,22,58,.75), rgba(92,46,76,.75));
}

html {
    height: 100%;
    width: 100%;
}

.colors {
  display: inline-flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
}

.colors__color {
  width: inherit;
  height: 100%;
  margin: 5px;
}

.colors__color:first-child {
  margin: 5px 5px 5px 0;
}

.colors__color:last-child {
  margin: 5px 0 5px 5px;
}

.easel {
  height: 100%;
  width: 100%;
  background-color: white;
  position: relative;
  display: block;
}

.easel__canvas {
  width: 85%;
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

.easel__canvas__img {
  width: 100%;
  max-height: 750px;
}

.gifNav {
  list-style: none;
  position: absolute;
  padding: 0;
  margin: 0;
  height: inherit;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%,-50%);
}

.gifNav__button {
  height: 30px;
  width: 30px;
  border-color: white;
  border-width: 2px;
  border-style: outset;
  border-radius: 100%;
  margin: 20px 0 20px 0;
}

.gifNav__button:hover {
  border-style: inset;
  cursor: pointer;
}

.gifNav__button--left {
  direction: ltr;
}

.palette {
  height: 100%;
  width: 100%;
  display: flex;
  position: fixed;
}

.sideBar {
  height: 100%;
  width: 15%;
  background-color: #eeeeee;
  position: relative;
  overflow-y: scroll;
  direction: rtl;
}

.movingPalettes {}

.titleCard__background {
  height: 100%;
  width: 100%;
  display: table-cell;
  position: absolute;
  top: 0;

  background-image: linear-gradient(rgb(54,22,58), rgb(92,46,76));
  vertical-align: middle;
  z-index: 100;

  -webkit-transition: top ease-in-out 1.4s; /* Safari */
  transition: top ease-in-out 1.4s;
}

.titleCard__subtitle {
  color: white;
  font-size: 1.5em;
  position: relative;
  margin-left: 50px;
}

.titleCard__title {
  color: white;
  font-size: 3em;
  position: relative;
  margin-top: 40%;
  margin-left: 50px;
}
